header {
	background-color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: solid #cccccc 2px;
	margin-bottom: 15px;
}
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("https://i.imgur.com/FadAghf.png");
	background-attachment: fixed;
	margin: 0;
}
.name {
	text-align: center;
	padding: 5px;
	color: white;
	background-color: #4aaaa5;
	width: 230px;
	margin-left: 24%;
	visibility: visible;
	position: relative;
}
.smallname {
	visibility: hidden;
	text-align: center;
	padding: 5px;
	margin-top: 0px;
	color: white;
	background-color: #4aaaa5;
	width: 100%;
}
.navigation {
	text-align: center;
	position: absolute;
	color: #cccccc;
	top: 30px;
	float: right;
	word-spacing: 8pt;
	line-height: 40px;
	padding-left: 67%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	visibility: visible;
}
a:link {
	color: #cccccc;
	text-decoration: none;
}
a:visited {
	color: #cccccc;
	text-decoration: none;
}
a:hover {
	color: #cccccc;
	text-decoration: none;
}
a:active {
	color: #cccccc;
	text-decoration: none;
}
.page-header {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	max-width: 960px;
	background: white;
	padding: 10px;
}
#dog {
	float: none;
	height: 200px;
	width: 300px;
	padding-right: 20px;
}
p {
	padding-top: 12px;
	max-width: 960px;
	margin: auto;
	background: white;
	padding: 20px;
	height: 380px;
	color: #777777;
	line-height: 1.7;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12.5pt;
	letter-spacing: .3pt;
	font-weight: lighter;
}
section {
	border-style: solid;
	border-width: 1px;
	max-width: 960px;
	margin: auto;
	border-color: #dddddd;
	background-color: white;
	height: 600px;
}
hr {
	width: 95%;
	margin: auto;
	border-style: solid;
	color: #dddddd;
}
#submit {
	background-color: #4aaaa5;
	width: 95px;
	height: 35px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-top: 5px;
}
input {
	width: 95%;
	margin-top: 5px;
}
#message {
	height: 200px;
}
.form {
	margin-left: 35px;
	margin-top: 20px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
footer {
	background-color: #666666;
	bottom: 0;
	margin-top: 15px;
	text-align: center;
	width: 100%;
	height: 6%;
	border-top: 8px solid #4aaaa5;
	color: white;
	font-size: 10pt;
	line-height: 45pt;
	position: fixed;
}
#page-header-padding {
	padding-left: 28px;
}
#portfolio-section {
	width: 100%;
	overflow: auto;
}
.column {
	float: left;
	padding: 7px;
}
.row::after {
	clear: both;
	display: table;
}
img {
	width: 100%;
}
.text-block {
	position: relative;
	bottom: 80px;
	background-color: #4aaaa5;
	text-align: center;
	height: 40px;
	color: white;
	line-height: 30pt;
	left: 2px;
	font-weight: 100;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.grid {
	visibility: visible;
}
.smallergrid {
	visibility: hidden;
	width: 100%;
}
input {
	border: solid gray 1px;
	border-radius: 10px;
}
.smallernav {
	visibility: hidden;
	text-align: center;
	color: #cccccc;
	top: 30px;
	float: right;
	word-spacing: 8pt;
	width: 100%;
	line-height: 30px;
	background-color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
@media screen and (max-width: 980px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 640px) {
	header {
		position: static;
		height: 130px;
	}
	.navigation {
		position: static;
		display: block;
		padding: 0px;
		float: none;
		background-color: white;
		clear: both;
		overflow: auto;
	}
	.name {
		margin: 0 auto;
	}
	.page-header {
		padding: 0px;
	}
}